/*body {*/
/*    margin: 8px;*/
/*}*/
input {
    margin-bottom: 15px;
}
/*a {*/
/*    margin-bottom: 15px;*/
/*}*/

.wbdv-light-gray-border {
    border: 1px solid #d33842;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}